<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">BoulderManager</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">About</a>
        </li>
        <li>
          <a href="../help/">Boulders</a>
        </li>
        <li>
          <a href="../help/">Ascents</a>
        </li>
        <li>
          <a href="../help/">Search Boulders</a>
        </li>
        <li>
          <a href="../help/">Manage Boulders</a>
        </li>
      </ul>

    </div>
  </div>
</div>