.navbar-nav > li{
  font-size: 20px;
  margin-left:20px;
  margin-right:20px;
 
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand{
    font-size: 20px;
     
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}